/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/* ---------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------- */

.row {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 980px;
}

.flex-row {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    max-width: 980px;
    justify-content: space-between;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited {
    padding: 10px 25px !important;
    border-radius: 20px;
    text-decoration: none;
}

.btn-full:link,
.btn-full:visited {
    background-color: rgba(255, 160, 9, 1);
    border: 1px solid rgba(255, 160, 9, 1);
    color: #fff !important;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

.nav-bar {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: #fff;
}

.nav-logo {
    height: 40px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a{
    margin-left: 40px;
}

.nav-links li a:link,
.nav-links li a:visited {
    text-decoration: none;
    color: #fff !important;
}

/* ---------------------------------------------- */
/* HERO */
/* ---------------------------------------------- */

.hero {
    height: 90vh;
    text-align: center;
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../img/hero-image.jpg");
    background-size: cover;
    color: #fff;
}

.hero .flex-row {
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; 
}

.hero-title h1 {
    font-size: 3.25rem;
}

.hero-title h2 {
    font-weight: 400;
}

.hero-button {
    margin-top: 2.5rem;
}

/* ---------------------------------------------- */
/* FEATURED IN */
/* ---------------------------------------------- */

.featured-in {
    padding: 20px 0;
    background-color: #F5F5F5;
}

.featured-in p {
    text-decoration: underline;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    color: #808080;
}

.featured-in img {
    height: 100%;
    width: 18%;
    padding-top: 10px;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

/* ---------------------------------------------- */
/* PRODUCT SPOTLIGHT */
/* ---------------------------------------------- */

.product-spotlight{
    padding: 4rem 0;
    background-color: rgba(255, 160, 9, 1);
    color: #fff;
}

.product-spotlight h2 {
    font-size: 2.75rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.spotlight-feature {
    padding: 1.75rem 0;
    display: flex;
    align-items: center; 
}

.spotlight-icon {
    text-align: center;
    margin-right: 10px;
    font-size: 2.5rem;
    text-align: center;
    width: 20%;
}

.spotlight-text {
    width: 80%;
}

.spotlight-feature h3 {
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: 0.75rem;
}

.spotlight-feature p {
    line-height: 1.5rem;
}

.feature-list,
.spotlight-image {
    width: 33.33%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; 
    flex-direction: column;
}

.spotlight-image img {
    max-width: 90%;
}

/* ---------------------------------------------- */
/* PRODUCT FEATURE 1 */
/* ---------------------------------------------- */

.product-feature-1 {
    padding: 4rem 0;
}

.product-img {
    width: 60%;
}

.product-img img {
    max-width: 100%;
}

.product-desc {
    width: 40%
}

.product-desc h2 {
    font-size: 2.75rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
} 

.product-desc p {
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 300;
}

/* ---------------------------------------------- */
/* PRODUCT FEATURE 2 */
/* ---------------------------------------------- */

.product-feature-2 {
    padding: 4rem 0;
    background-color: #F5F5F5;
}

/* ---------------------------------------------- */
/* PRODUCT FEATURE 3 */
/* ---------------------------------------------- */

.product-feature-3 {
    padding: 4rem 0;
}

/* ---------------------------------------------- */
/* PRODUCT FEATURE 4 */
/* ---------------------------------------------- */

.product-feature-4 {
    padding: 4rem 0;
    background-color: #F5F5F5;
}


